<h2>Editar cliente</h2>
<hr>

<div *ngIf="!cliente">
    <h2 class="mt-3">Cargando datos del cliente, por favor espere...</h2>
</div>

<div class="container " *ngIf="cliente">
        
    <div class="row justify-content-center">
    <form class="col col-md-6" autocomplete="off" (ngSubmit)="actualizarCliente()" [formGroup]="miFormulario">
            
            <label  class="form-label" >Nombres</label>
            <input formControlName="nombres" class="form-control" type="text" placeholder="Ingresa tu(s) nombre(s)" >
            
            <label class="form-label" >Apellido paterno</label>
            <input formControlName="apellidoPaterno"  class="form-control" type="text" placeholder="" >
            
            <label class="form-label">Apellido materno</label>
            <input formControlName="apellidoMaterno" class="form-control" type="text" placeholder="" >
            
            <label class="form-label">Domicilio</label>
            <input formControlName="domicilio" class="form-control" type="text" placeholder="" >
            
            <label class="form-label">Correo electronico</label>
            <input formControlName="email" class="form-control" type="text" placeholder="" >
            
  
            
            <button class="btn btn-primary mt-2" type="submit" [disabled]="miFormulario.invalid" >Actualizar</button>
        
        </form>
    </div>
</div>
