<h2>Crear cliente nuevo</h2>
<hr>

<div class="container ">

    <div class="col-4"> </div>
    <div class="col-4">
        
        <div class="row">
    <form class="form-container" autocomplete="off" (ngSubmit)="crearCliente()" [formGroup]="miFormulario">
            
            <label  class="form-label" >Nombres</label>
            <input formControlName="nombres" class="form-control" type="text" placeholder="Ingresa tu(s) nombre(s)" >
            
            <label class="form-label" >Apellido paterno</label>
            <input formControlName="apellidoPaterno"  class="form-control" type="text" placeholder="" >
            
            <label class="form-label">Apellido materno</label>
            <input formControlName="apellidoMaterno" class="form-control" type="text" placeholder="" >
            
            <label class="form-label">Domicilio</label>
            <input formControlName="domicilio" class="form-control" type="text" placeholder="" >
            
            <label class="form-label">Correo electronico</label>
            <input formControlName="email" class="form-control" type="text" placeholder="" >
            
  
            
            <button class="btn btn-primary mt-2" type="submit" [disabled]="miFormulario.invalid" >Crear</button>
        
        </form>
    </div>
</div>
</div>
